[Unit]
Description=EPMVirtual Node Service
Documentation=https://epmvirtual.com
After=network.target

[Service]
Environment=NODE_PORT=8000
Type=simple
User=<write the username here>
SyslogIdentifier=epmvirtualnode
WorkingDirectory=/write/the/path/of/the/files/here
ExecStart=/usr/bin/ts-node src/server.js
Restart=on-failure

[Install]
WantedBy=multi-user.target