[Unit]
Description=EPMVirtual Node Service
Documentation=https://epmvirtual.com
After=network.target

[Service]
Environment=NODE_PORT=8000
Environment=Firebase_User=<update here with correct credential>
Environment=Firebase_Pass=<update here with correct credential make sure there are no special characteres so make it very long>
Type=simple
User=<write the username here>
SyslogIdentifier=epmvirtualnode
WorkingDirectory=/write/the/path/of/the/files/here
ExecStart=/usr/bin/ts-node src/server.ts
Restart=on-failure

[Install]
WantedBy=multi-user.target
